# MySQL Database connection

# Import Libraries

In [3]:
#!pip install mysql-connector-python
#!pip install python-dotenv
#!pip install pymysql

In [4]:
import config as cfg
import pandas as pd
import mysql.connector
import os

from dotenv import load_dotenv
load_dotenv("mysql.env")

True

# MySQL connection

In [5]:
HOST=os.environ.get("HOST")
PORT=os.environ.get("PORT")
USER=os.environ.get("USER")
PASSWORD=os.environ.get("PASSWORD")

try: 
    conn = mysql.connector.connect(
        host=HOST,
        port=PORT,
        user=USER,
        password=PASSWORD,
        database="GlobalMarketData"
    )
    query = "SELECT * from histdailyprice3;"
    df = pd.read_sql(query, conn)
    conn.close()
except Exception as e:
    mydb.close()
    print(str(e))

# Data

In [6]:
df.head()

         Date    Symbol Exchange   Close    Open    High     Low  Volume
0  1998-01-01  00001.HK     HKEX  50.750  50.750  50.750  50.750       0
1  1998-01-01  00002.HK     HKEX  34.043  34.043  34.043  34.043       0
2  1998-01-01  00003.HK     HKEX   9.314   9.314   9.314   9.314       0
3  1998-01-01  00004.HK     HKEX  16.821  16.821  16.821  16.821       0
4  1998-01-01  00005.HK     HKEX  63.666  63.666  63.666  63.666       0

In [7]:
print("Dimensions:", df.shape)

Dimensions: (29270724, 8)

In [8]:
df.describe()

              Close          Open          High           Low        Volume
count  2.927072e+07  2.927072e+07  2.927072e+07  2.927072e+07  2.927072e+07
mean   2.706945e+04  2.770904e+04  2.633463e+04  2.692689e+04  2.267096e+06
std    4.412140e+06  4.512667e+06  4.299817e+06  4.393168e+06  2.128552e+07
min   -1.634510e+03  0.000000e+00 -1.764960e+03  0.000000e+00 -2.140735e+09
25%    6.070000e+00  6.190000e+00  5.955000e+00  6.070000e+00  1.450000e+04
50%    1.747000e+01  1.770000e+01  1.721000e+01  1.746000e+01  1.258000e+05
75%    3.479000e+01  3.519000e+01  3.435000e+01  3.478000e+01  7.554000e+05
max    1.555500e+09  1.572000e+09  1.365000e+09  1.536000e+09  1.977816e+10

In [9]:
df.columns

Index(['Date', 'Symbol', 'Exchange', 'Close', 'Open', 'High', 'Low', 'Volume'], dtype='object')

# EDA

## Date

In [11]:
print("Date range:", min(df.Date), "to", max(df.Date))

Date range: 1998-01-01 to 2021-09-07

## Exchange

In [16]:
df.Exchange.unique()

array(['HKEX', 'NYSE', 'NASDAQ', 'AMEX'], dtype=object)

HKEX - The Stock Exchange of Hong Kong Limited <br>
NYSE - The New York Stock Exchange <br>
NASDAQ - Nasdaq Composite <br>
AMEX - American Stock Exchange

## Symbol

In [13]:
pd.Series(df.Symbol.unique())

0        00001.HK
1        00002.HK
2        00003.HK
3        00004.HK
4        00005.HK
           ...
13908        SLGC
13909       SLGCW
13910       OPP.P
13911       RCO.W
13912        RCOR
Length: 13913, dtype: object

In [19]:
df[df.Exchange == "NYSE"].Symbol.unique()

array(['AA', 'ABC', 'ABM', ..., 'INA.U', 'OPAD', 'OPP.P'], dtype=object)

In [69]:
# Close cursor
cursor.close()

# Close connection
conn.close()