In [8]:
import pandas as pd
import numpy as np
import mysql.connector
import keras.backend as K
import tensorflow as tf
import os
import pickle
import numpy as np
from keras.models import Sequential, load_model
from keras.layers import LSTM, Dense
from keras.callbacks import ModelCheckpoint
from keras import optimizers
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [6]:
import os
import sys
import mysql.connector

HOST="143.244.188.157"
PORT="3306"
USER="patrick-finProj"
PASSWORD="Pat#21$rick"

try: 
    conn = mysql.connector.connect(
        host=HOST,
        port=PORT,
        user=USER,
        password=PASSWORD,
        database="GlobalMarketData"
    )
    query = f"SELECT * FROM histdailyprice4;"
    histdailyprice4 = pd.read_sql(query, conn)
    conn.close()
except Exception as e:
    conn.close()
    print(str(e))

In [12]:
df = histdailyprice4.copy()
df.Date = pd.to_datetime(df.Date)
df.set_index('Date', inplace=True)
df.head()

,Symbol,Exchange,Close,Open,High,Low,Volume,AdjClose,ActualPercent
Date,,,,,,,,,
2000-01-03,AAPL,NASDAQ,111.94,104.87,112.50,101.69,4783900,0.855709,8.433090
2000-01-03,AMAT,NASDAQ,126.50,128.40,128.40,125.30,3589100,23.712400,4.901190
2000-01-03,AMD,NASDAQ,31.00,29.94,31.19,29.38,3921600,15.500000,5.645160
2000-01-03,BA,NYSE,40.19,41.63,41.69,39.81,2638200,25.897600,0.149291
2000-01-03,BAC,NYSE,48.44,50.25,50.25,48.00,6852900,13.043600,5.945500

In [13]:
steps = [('scaler', MinMaxScaler()),
        ('elasticnet', ElasticNet())]

df_train, df_test = train_test_split(df, test_size=0.1, shuffle=False)

In [ ]:
train_cols = ["Close", "Open", "High", "Low", "Volume", "AdjClose", "ActualPercent"]